$black-color: #000;
$main-color: #FF7143;
$white-color: #fff;

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header-wrapper{
    overflow: hidden;
}

.section{
    width: 88.75%;
    margin: 0 auto;
}
//? section-header
.section-header__wrapper{
    background-color: $main-color;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
.section-header__image{
    position: relative;
    z-index: 0;
    img{
        position: absolute;
        top: -91px; 
        right: -8px;
    }
}
.section-header__info, .section-form__info{
    margin-top: 80px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 80px);
}
.section-header__buy, .section-form__buy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy__header{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 27px;
    text-align: center;
    width: 70%;
}
.buy__inf{
    width: 60%;
    text-align: center;
    font-size: 1.125rem;
}
.buy__bth-section{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.buy__btn{
    padding: 20px 32px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.buy__btn_black{
    background-color: $black-color;
    color: $white-color;
    margin-right: 8px;
}
.buy__btn_white{
    background-color: $white-color;
}
.section-header__rate, .section-form__rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
        margin-bottom: 23px;
    }
}
.rate__inf{
    font-weight: bold;
    font-size: 1.25rem;
    width: 50%;
    text-align: center;
}
.rate-rewies{
    margin-top: 16px;
    span{
        color: rgba(0, 0, 0, 0.6);
    }
}

//? section-offers

.section-offers{
    display: flex;
    justify-content: space-around;
    margin: 80px auto;
}
.offers__item{
    display: flex;
    align-items: center;
    width: 30%;
}
.offers__text{
    margin-left: 24px;
}
.offers__header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}

//? section-image

.section-image{
    display: flex;
    margin-bottom: 100px;
    img{
        height: 600px;
    }
}
.text-block{
    height: 600px;
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.text-block__inf{
    font-size: 2.5rem;
    width: 60%;
    text-align: center;
    margin: 40px 0;
}
.author__name{
    font-weight: bold;
    text-align: center;
}
.author__position{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

//?section pages

.section-pages__header{
    font-weight: bold;
    font-size: 2.5rem;
    margin: 26px 0;
}
.section-pages__item{
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 8px 8px rgba(16, 19, 80, 0.12);
    border-radius: 6px; 
    width: 32%;
    margin-bottom: 20px;
    cursor: pointer;
    img{
        width: 100%;
        border-top-left-radius: 6px; 
        border-top-right-radius: 6px; 
    }
}
.section-pages__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-pages__text{
    margin: 25px 0 25px 33px;
    font-weight: bold;
    font-size: 1.25rem;
}

//? section form

.section-form{
    background-color: $main-color;
    display: flex;
    align-items: center;
    margin: 95px auto 60px auto;
}
.section-form__form-wrapper{
    background-color: $white-color;
    width: 34%;
    margin: 60px 0;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
    height: calc(100% - 80px);
}
.section-form__form{
    width: 83%;
    margin: 40px auto;
}
.section-form__header{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 40px;
}
.input-block{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 16px 0;
    height: 64px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding-left: 2rem;
    border: none;
    outline: none
}
.input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
  .input-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 25px;
}
.input-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: rgba(0, 0, 0, 0.05);
}
.input-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.input-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .input-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .input-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .input-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .input-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
.submit-btn{
    width: 100%;
    background-color: $black-color;
    border-radius: 6px;
    height: 64px;
    color: $white-color;
    font-weight: bold;
    margin-bottom: 16px;
    cursor: pointer;
}
.section-form__text{
    text-align: center;
    a{
        text-decoration: none;
        color: $main-color;
    }
}